numpy==1.26.4
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.0.1
torchvision==0.15.2
omegaconf
torchmetrics==0.10.3
fvcore
iopath
# https://github.com/facebookresearch/xformers/blob/main/CHANGELOG.md#0021---2023-08-18
xformers==0.0.20
submitit
wandb
pandas
opencv-python-headless